
.cart {
    padding: 10px 30px;
    margin: 20px auto;
    text-decoration: none;
    background-color: #e8e8e8;
    border-radius: 10px;
    font-size: 26px;
    width: 80%;
}


#cart-title {
    width: 100%;

}

.cart-item {
    /*align-content: center;
    align-self: center;
    align-items: center;
    alignment: center;
     margin:  5px;
     border: 1px solid black;*/
}

.cart-item td {
    /**/
    margin: 5px;
    padding: 5px;
}


.cart-item a {
    align-self: center;
    text-decoration: none;
    color: #111111;
    font-size: 26px;

}

.cart-item a:hover {
    color: black;
}

.product-title {
    align-self: center;
    padding-left: 15px;
    padding-top: 10px;
}

.quantity {
    align-self: center;
    border-radius: 10px;

    border: 2px solid grey;

    display: flex;

    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    alignment: center;
}

.quantity a {
    margin-left: 10px;
    margin-right: 10px;

    font-size: 35px;
    cursor: pointer;
}


.quantity a:hover {
    font-weight: bold;
}

.rem {
    width: 80px;
    alignment: right;
    align-self: end;
}

.remove {
    font-size: 20px;
    color: #c9c9c9;
    width: 100%;
    height: 40px;
    background-color: #111111;

}

.remove:hover {
    color: white;
    background-color: #401408;
}

.price {
    display: block;

}

.price-row {
    display: flex;
}


.cena-bez-dph {
    margin-top: 5px;
    font-size: 20px;
    color: grey;
}


.cena-s-dph {
    margin-top: 5px;
    font-size: 30px;
    color: red;
}

.continue {
    align-self: center;
    margin-left: 50px;
    width: 250px;
}

.continue button {
    font-size: 20px;
    color: #c9c9c9;
    width: 100%;
    height: 60px;
    background-color: #111111;

}

.continue button:hover {
    color: white;
    background-color: #401408;
}
