.cena-s-dph {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 5px;

    color: red;
}
#cena{
    display: flex;
    flex-wrap: wrap;
}


.total {
    font-weight: bold;
    background-color: lightgray;
    font-size: 20px;
}
